.hide {
    display: none;
}

.show {
    display: block;
    position: absolute;
    top: 200px;
    left: 50%;
    background-color: blue;
    max-width: 40%;
}

.task-done {
    text-decoration: line-through;
}

.main-container {
    background-color: aquamarine;
    max-width: 40%;
    position: relative;
    left: 30%;
    top: 100px;
    padding: 2%;
}

button {
    position: relative;
    left: 60%;
    background-color: black;
    color: white;
    padding: 10px;
}

.main-container_all-tasks {
    background-color: azure;
    max-width: 55%;
    padding: 5px;
}

input[type="checkbox"] {
    margin: 10px;
}

label {
    font-family: cursive;
    color: cadetblue;
}