.hide-form {
    display: none;
}

.show-form {
    background-color: #42c2ff;
    max-width: 40%;
    padding: 2%;
    border-radius: 2%;
}

.task-done {
    text-decoration: line-through;
}

.main-container {
    background-color: #b8fff9;
    max-width: 40%;
    position: relative;
    left: 30%;
    top: 100px;
    padding: 2%;
    border: 5px outset black;
    border-radius: 12%;
}

button {
    position: relative;
    left: 60%;
    background-color: #398ab9;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

button:hover {
    background-color: #80ccf8;
}

.main-container_all-tasks {
    background-color: #85f4ff;
    max-width: 55%;
    padding: 5px;
    border-radius: 2%;
}

.main-container_content {
    display: flex;
    gap: 5%;
}

input[type="checkbox"] {
    margin: 10px;
}

label {
    font-family: cursive;
    color: black;
}

a:link,
a:visited {
    padding: 10px;
    color: #081af3;
    text-decoration: none;
}

a:hover,
a:active {
    color: #0a85ef;
    font-weight: bolder;
}

img {
    position: relative;
    left: 38%;
}

body {
    background-color: #effffd;
}